ddr4_ila_prj/
top/
.*
*.log
*.jou
*.str
opfb_reschan_capture/
gen3_iqsweep_play/
capplay_migrate/
capplay_migrate21.2/
iqtest_2021.1/
capplay_jcfix/
capplay_jc2/
capplay_jc1/
foo/
test_iq_2021.1/
iqtest_2021.2/
test_phasematch_2021.2ug/
test_phasematch_2021.2/
test_phasematch_2021.1/
phasetest_2021.2/
captest_2021.2_1/
captest_2021.2/
deleteme/
b2rcaptest/

# test system projects
gen3_top_4x2_prj/
if111_throughphase_test1_prj/
rfdc_test_prj/
opfb_dac_loopback_prj/
opfb_rfdc_loopback_prj/
reschan_test_prj/
gen3_top_prj/
fccm22_demo_prj/
triggertest/
regslice_test/
phasetest_prj/

